@import "brand-icons";
@import "colours";

a {
  text-decoration: none !important;
}

img.border {
  border-style: solid;
  border-radius: 1999em;
  border-color: $primary;
}

img.size {
  width: 200px;
  height: 200px;
}

.linkedin {
  @extend .linkedin;

  font-size: 30px;
  color: #fff;
}

.github {
  @extend .github;

  font-size: 30px;
  color: #fff;
}

.firefox {
  @extend .firefox;

  font-size: 30px;
  color: #fff;
}

.twitter {
  @extend .twitter;

  font-size: 30px;
  color: #fff;
}
