/*

    DevilSec Website Colour Palette

    This stylesheet contains SCSS variables for all of the colours utilized throughout the DevilSec website.

*/

$background-primary: #3b3b3b;
$background-secondary: #262626;
$primary: #ffc627;
$secondary: #8c1d46;
$font-primary: #fff;
