@import "main";
@import "colours";
@import "icons";
@import "brand-icons";

.container-fluid > * {
  margin-bottom: 3em;
}

.card {
  @include border-primary;

  background-color: $background-secondary;
  border-color: $secondary;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

  > a {
    text-decoration: none;
    color: $font-primary;
  }
}

.discord {
  @extend .discord;
  @extend .fa-4x;

  color: $primary;
}

.col-md-3 > .row > .card {
  margin-bottom: 1em;

  &:hover {
    border-color: $primary;
  }
}

.offering-card {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
  margin: 1em auto 0;

  &:hover {
    border-color: $primary;
  }
}

.soc-icons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-basis: 25%;

  > i {
    color: $primary;
  }
}

#main-row {
  padding-right: 3em;
}

#about {
  font-size: 18px;
  border-color: $primary;

  > h1 {
    text-decoration: underline solid $secondary 3px;
  }

  > * {
    padding-left: 3em;
    padding-right: 3em;
  }
}

#schedule-link {
  > h3 {
    text-decoration: underline solid $primary 2px;
  }
}

#twitter {
  background-color: black;
  padding: 0;
}

#event-card {
  border-color: $primary;
}

#offerings {
  > h2 {
    text-decoration: underline solid $primary 2px;
  }

  > .row {
    display: flex;
    flex-basis: 100%;
  }
}
