@import "main";
@import "colours";
@import "icons";
@import "brand-icons";

.container-fluid > * {
  margin-bottom: 3em;
}

.card {
  @include border-primary;

  background-color: $background-secondary;
  border-color: $secondary;

  > a {
    text-decoration: none;
    color: $font-primary;
  }
}

.discord {
  @extend .discord;
  @extend .fa-4x;

  color: $primary;
}

#main-row {
  padding-right: 3em;
}

#schedule-link {
  > h3 {
    text-decoration: underline solid $primary 2px;
  }
}

#twitter {
  background-color: black;
  padding-left: 0;
  padding-right: 0;
}
