@import "custom";
@import "colours";
@import "icons";

body {
  margin: 0;
  min-height: 100%;
  background-color: $background-primary;
  color: $font-primary;
  text-decoration: none;
}

.col-sm-3 {
  min-width: 350px;
}

.core {
  min-height: 100%;
  position: relative;

  & > div {
    padding-bottom: 200px !important;
  }
}

// Mixins:

@mixin border-primary {
  border: 5px solid $primary;
  border-spacing: 20px;
  border-radius: 1rem;
  transition: color 0.5s;
  margin: +5px;

  &:hover {
    border: 5px solid $secondary;
  }
}

.card-primary {
  @extend .card;
  @include border-primary;

  background-color: $background-secondary;

  >.card-title {
    margin-top: 10px;
  }

  >.card-text {
    font-size: medium;
    border-top: 10px;
    border-bottom: 10px;
  }

  // List overrides:
  >.list-group {
    border: none;

    >.list-group-item {
      border: none;
      background-color: $background-secondary;
      color: $font-primary;
    }
  }
}
