@import "~bootstrap/scss/mixins/grid";
@import "main";

.card {
  @extend .card-primary;
  @extend .bg-dark;
  @extend .col-sm-3;
  @extend .col-md-3;
  @extend .col-lg-3;

  padding-top: 10px;
  margin: 10px;
  text-align: center;
  border-width: 2px;

  &:hover {
    border-width: 2px;
  }
}
