@import "colours";

.card {
  padding-top: 10px;
  color: $font-primary;
  margin: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: $primary !important;
}

.highlight:hover{
  border-color: $secondary !important;
  }

