@import "main";
@import "colours";

.calendar {
  @extend .calendar;

  padding-right: 10px;
}

.clock {
  @extend .clock;

  padding-right: 10px;
}

.location {
  @extend .location;

  padding-right: 10px;
}

.schedule-card {
  @extend .btn;
  @extend .card-primary;

  color: $font-primary;
  margin: 20px;

  &:hover {
    color: $font-primary;
  }
}

.row {
  justify-content: center;
}

.schedule-divider {
  margin-top: 3em;
  margin-bottom: 3em;
  border: 2px solid #8c1d40;
  opacity: 1;
}

.schedule-category {
  @include border-primary;

  margin: 20px;

  &:hover {
    border: 5px solid $primary;
  }

  >.row > .col > .schedule-card {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.col-lg-4 {
  min-width: 400px;
}

.display-4 {
  margin-bottom: 1em;
}

.column-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
