@import "main";
@import "colours";
@import "icons";
@import "brand-icons";

.youtube {
  @extend .youtube;

  font-size: 16px;
  color: #fff;
  padding-right: 10px;
}

.twitch {
  @extend .twitch;

  font-size: 16px;
  color: #fff;
  padding-right: 10px;
}

.calendar {
  @extend .calendar;

  padding-right: 10px;
}

.clock {
  @extend .clock;

  padding-right: 10px;
}

.stopwatch {
  @extend .stopwatch;

  padding-right: 10px;
}

.location {
  @extend .location;

  padding-right: 10px;
}

.next-4 {
  width: 100%;
}

.podium {
  height: 24px;
  padding-right: 10px;
  vertical-align: bottom;
  font-size: 24px;
  display: inline-block;
  text-align: center;
}

.schedule-card {
  @extend .btn;
  @extend .card-primary;

  margin: 20px;
  min-width: -moz-available;
  min-width: -webkit-fill-available;
  min-width: fill-available;

  &:focus {
    box-shadow: none;
  }

  >.card-text {
    font-size: larger;
  }
}

.row {
  justify-content: center;
}

.schedule-divider {
  margin-top: 3em;
  margin-bottom: 3em;
  border: 2px solid #8c1d40;
  opacity: 1;
}

.schedule-category {
  @include border-primary;

  margin: 20px;

  &:hover {
    border: 5px solid $primary;
  }

  >.row > .col > .schedule-card {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.col-lg-4 {
  min-width: 400px;
}

.display-4 {
  margin-bottom: 1em;
}

.column-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

// Modal styling:

.modal-dialog {
  max-width: 800px;
}

.modal-content {
  background-color: $background-primary;
  color: $font-primary;
  border: 5px solid $primary;
  border-radius: 1rem;

  > * {
    border-color: $secondary;
    border-width: 2px;
  }
}

.modal-title {
  width: 100%;
  text-align: center;
}

.modal-body {
  >.list-group {
    >.list-group-item {
      background-color: $background-primary;
      color: $font-primary;
      border: none !important;
    }
  }

  border-bottom: 3px solid $secondary;
}

.modal-footer {
  justify-content: center;
  border: none;

  >.btn {
    border: none !important;
  }
}

.youtube-btn {
  background-color: #c00;
}

.twitch-btn {
  background-color: #9146ff;
}

.calendar-btn {
  background-color: #007fff;
}

.location-link {
  text-decoration: underline;
  color: $font-primary;

  &:hover {
    color: $font-primary;
  }
}
