@import "colours";

html,
body {
  margin: 0;
  height: 100%;
}

/* page headings params */
.subheading {
  padding-top: 2%;
  text-align: left;
  text-indent: 1%;
}

/* params of divs holding video cards */
.video-cards {
  justify-content: center;
}

/* Changes to the default params of the Bootstrap card class */
.card {
  margin: 0.5%;
  min-width: fit-content;
  background-color: $background-secondary;
  border-color: $primary !important;
  box-shadow: 0 0 2px 1px $primary;
  transition: all 0.4s ease;
}

.card:hover {
  margin: 0.5%;
  min-width: fit-content;
  background-color: $background-secondary;
  border-color: $secondary !important;
  box-shadow: 0 0 5px 2px $secondary;
}

.card-header {
  border-color: $font-primary !important;
}

.card-footer {
  border-color: $font-primary !important;
}

/* video embed params */
.video-embed {
  width: auto;
}

/* video tag params */
.tags {
  padding: 0%;
  padding-left: 1%;
  padding-right: 1%;
}
