@import "colours";

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

html,
body {
  margin: 0;
  height: 100%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content { height: 450px; }

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

#footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content { height: auto; }
}

/* page headings params */

#subheading {
  padding-top: 2%;
  text-align: left;
  text-indent: 1%;
}

/* params of divs holding video cards */
#video-cards {
  justify-content: center;
}

/* Changes to the default params of the Bootstrap card class */
.card {
  margin: 0.5%;
  min-width: fit-content;
  background-color: $background-secondary;
  border-color: $primary !important;
  box-shadow: 0 0 2px 1px $primary;
  transition: all 0.4s ease;
}

.card:hover {
  margin: 0.5%;
  min-width: fit-content;
  background-color: $background-secondary;
  border-color: $secondary !important;
  box-shadow: 0 0 5px 2px $secondary;
}

.card-header{
  border-color: $font-primary !important;
}

.card-footer{
  border-color: $font-primary !important;
}

/* video embed params */
.video-embed {
  width: auto;
}

/* video tag params */
#tags {
  padding: 0%;
  padding-left: 1%;
  padding-right: 1%;
}
