/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

html,
body {
  margin: 0;
  height: 100%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content { height: 450px; }

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

#footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content { height: auto; }
}

/* page headings params */

#subheading {
  padding-top: 2%;
  text-align: left;
  text-indent: 1%;
}

/* Changes to the default params of the flip/trivia cards */
.trivia-card {
  --flip-card-transition-duration: 400ms;
  --flip-card-height: 200px;

  position: relative;
}

/* Set params of the divs that contain the cards */
#container {
  width: auto;
  padding: 2%;
  font-size: x-large;
}

#container-text {
  padding: 15px;
}

.card-face {
  width: auto;
  display: block;
  align-items: center;
  justify-items: center;
  position: relative;
}

/* video embed params */
.video-embed {
  min-height: fit-content;
  height: var(--flip-card-height);
  padding: 2%;
}
